<table>
    <tr>
        <td class="logo">
            <img src="/static/img/cbre_white.jpg" id="cbre_logo">
        </td>
        <td class="nav">
            <ul id="top_menu">
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/transactions/">Transactions</a></li>
                <li><a href="/admin/">Administration</a></li>
            </ul>
        </td>
        <td>
            <span style="float:right; margin-right:15px;"><a href="/logout">Log Out</a></span>
        </td>
    </tr>
</table>

