<html>
    <head>
        <title> CBRE REPORT </title>
        <style type="text/css">
            [# include 'pdf_css.html' #]
        </style>
        <link rel="stylesheet" type="text/css" href="static/css/base.css" />
        <link rel="stylesheet" type="text/css" href="static/css/dashboard.css" />
    </head>
    <body>
        <img src="static/img/cbre_logo.gif">
        <div id="content">
            [[ block content ]]
            [[ endblock ]]
        </div>
        <div id="footer">
            [[ block footer ]]
            [[ endblock ]]
        </div>
    </body>
</html>

