<table width="100%">
    <tr>
        <th>&nbsp;</th>
        <th>Field</th>
        <th>Constraint</th>
        <th>Arguments</th>
        <th>&nbsp;</th>
    </tr>
    <tr>    
        <td></td>
        <td>
            <select>
                <option>Option</option>
            </select>
        </td>
        <td>
            <select>
                <option>Option</option>
            </select>
        </td>
        <td>
            <input type="text">
        </td>
        <td>
            [X]
        </td>
    </tr>
    <tr>    
        <td><input type="button" value="And"></td>
        <td>
            <select>
                <option>Option</option>
            </select>
        </td>
        <td>
            <select>
                <option>Option</option>
            </select>
        </td>
        <td>
            <input type="text">
        </td>
        <td>
            [X]
        </td>
    </tr>
</table>

