<table class="form">
    <!-- acquisition -->

    <tr>
        <td class="label">Engagement Date</td>
        <td class="input"> <input type="text" name="eda"></td>
    </tr>
    
    <tr>
        <td class="label">REBC Entry Date: </td>
        <td class="input"><input type="text" name="rebc"></td>
    </tr>
    <tr>
        <td class="label">Market Survey: </td>
        <td class="input">
            <input type="radio" name="le8" value="True"/> Yes <br />
            <input type="radio" name="le8" value="False" /> No <br />
        </td>
    </tr>
    
    <tr>
        <td class="label">Market Survey: </td>
        <td class="input"><input type="text" name="le6"></td>
    </tr>
    
    <tr>
        <td class="label">Lease Execution Date:</td>
        <td class="input"> <input type="text" name="le7"></td>
    </tr>
    
    <tr>
        <td class="label">Old Square Footage</td>
        <td class="input"> <input type="text" name="le2"></td>
    </tr>
    
    <tr>
        <td class="label">New Square Footage</td>
        <td class="input"> <input type="text" name="le3"></td>
    </tr>
    
    <tr>
        <td class="label">Average Base Rent: </td>
        <td class="input"> <input type="text" name="le5"></td>
    </tr>

    <tr>
        <td class="label">Value Added (%): </td>
        <td class="input"> <input type="text" name="le4"></td>
    </tr>
    
    <tr>
        <td class="label">RFP On Time: </td>
        <td class="input">
            <input type="radio" name="le9" value="True"/> Yes <br />
            <input type="radio" name="le9" value="False" /> No <br />
        </td>
    </tr>
    
    <tr>
        <td class="label">Notes: </td>
        <td class="input"><textarea cols="30" rows="8" name="le10"></textarea></td>
    </tr>

</table>

