<table class="form">
    <tr>
        <td class="label">Engagement Date: </td>
        <td class="input"> <input type="text" name="eda"></td>
    </tr>
    
    <tr>
        <td class="label">REBC Entry Date: </td>
        <td class="input"><input type="text" name="rebc"></td>
    </tr>
    
    <tr>
        <td class="label">LTD Execution Date:</td>
        <td class="input"> <input type="text" name="lt8"></td>
    </tr>
    
    <tr>
        <td class="label">BOV Date: </td>
        <td class="input"><input type="text" name="lt7"></td>
    </tr>

    <tr>
        <td class="label">BOV On Time: </td>
        <td class="input">
            <input type="radio" name="lt10" value="True">Yes <br /><br />
            <input type="radio" name="lt10" value="False">No <br /><br />
        </td>
    </tr>

    <tr>
        <td class="label">BOV Expected Timing:</td>
        <td class="input"> <input type="text" name="lt3"></td>
    </tr>

    <tr>
        <td class="label">BOV Actual Timing:</td>
        <td class="input"> <input type="text" name="lt4"></td>
    </tr>

    <tr>
        <td class="label">Lease Termination Square Footage</td>
        <td class="input"> <input type="text" name="lt2"></td>
    </tr>

    <tr>
        <td class="label">Expected Savings:</td>
        <td class="input"> <input type="text" name="lt5"></td>
    </tr>

    <tr>
        <td class="label">Actual Savings:</td>
        <td class="input"> <input type="text" name="lt6"></td>
    </tr>

    <tr>
        <td class="label">Notes: </td>
        <td class="input"><textarea cols="30" rows="8" name="lt9"></textarea></td>
    </tr>
    
    </table>


