<table class="form">
    <tr>
        <td class="label">Engagement Date: </td>
        <td class="input"> <input type="text" name="engage_date"></td>
    </tr>
    
    <tr>
        <td class="label">REBC Entry Date: </td>
        <td class="input"><input type="text" name="rebc_entry_date"></td>
    </tr>
    
    <tr>
        <td class="label">LTD Execution Date:</td>
        <td class="input"> <input type="text" name="ltd_execution_date"></td>
    </tr>
    
    <tr>
        <td class="label">BOV Date: </td>
        <td class="input"><input type="text" name="bov_date"></td>
    </tr>

    <tr>
        <td class="label">BOV On Time: </td>
        <td class="input">
            <input type="radio" name="bov_ontime" value="True">Yes <br /><br />
            <input type="radio" name="bov_ontime" value="False">No <br /><br />
        </td>
    </tr>

    <tr>
        <td class="label">BOV Expected Timing:</td>
        <td class="input"> <input type="text" name="bov_expected_timing"></td>
    </tr>

    <tr>
        <td class="label">BOV Actual Timing:</td>
        <td class="input"> <input type="text" name="bov_actual_timing"></td>
    </tr>

    <tr>
        <td class="label">Lease Termination Square Footage</td>
        <td class="input"> <input type="text" name="sqft"></td>
    </tr>

    <tr>
        <td class="label">Expected Savings:</td>
        <td class="input"> <input type="text" name="expected_savings"></td>
    </tr>

    <tr>
        <td class="label">Actual Savings:</td>
        <td class="input"> <input type="text" name="actual_savings"></td>
    </tr>

    <tr>
        <td class="label">Notes: </td>
        <td class="input"><textarea cols="30" rows="8"></textarea></td>
    </tr>
    
    </table>


