<table class="form">
    <!-- acquisition -->

    <tr>
        <td class="label">Engagement Date</td>
        <td class="input"> <input type="text" name="engagement date"></td>
    </tr>
    
    <tr>
        <td class="label">REBC Entry Date: </td>
        <td class="input"><input type="text" name="market_survey"></td>
    </tr>
    
    <tr>
        <td class="label">Market Survey: </td>
        <td class="input"><input type="text" name="market_survey"></td>
    </tr>
    
    <tr>
        <td class="label">Purchase Close Date:</td>
        <td class="input"> <input type="text" name="purchase_close_date"></td>
    </tr>
    
    <tr>
        <td class="label">Old Square Footage</td>
        <td class="input"> <input type="text" name="old_sqft"></td>
    </tr>
    
    <tr>
        <td class="label">New Square Footage</td>
        <td class="input"> <input type="text" name="new_sqft"></td>
    </tr>
    
    <tr>
        <td class="label">Purchase Price: </td>
        <td class="input"> <input type="text" name="purchase_price"></td>
    </tr>

    <tr>
        <td class="label">Value Added (%): </td>
        <td class="input"> <input type="text" name="value_added"></td>
    </tr>
    
    <tr>
        <td class="label">RFP On Time: </td>
        <td class="input">
            <input type="radio" name="rfp_on_time" value="True"/> Yes <br />
            <input type="radio" name="rfp_on_time" value="False" /> No <br />
        </td>
    </tr>
    
    <tr>
        <td class="label">Notes: </td>
        <td class="input"><textarea cols="30" rows="8"></textarea></td>
    </tr>

</table>

