<table class="form">
    <tr>
        <td class="label">Sale Closing Date:</td>
        <td class="input"> <input type="text" name="cda"></td>
    </tr>
    
    <tr>
        <td class="label">BOV Date: </td>
        <td class="input"><input type="text" name="s7"></td>
    </tr>

    <tr>
        <td class="label">BOV On Time: </td>
        <td class="input">
            <input type="radio" name="s10" value="True">Yes <br /><br />
            <input type="radio" name="s10" value="False">No <br /><br />
        </td>
    </tr>

    <tr>
        <td class="label">BOV Expected Timing:</td>
        <td class="input"> <input type="text" name="s3"></td>
    </tr>

    <tr>
        <td class="label">BOV Actual Timing:</td>
        <td class="input"> <input type="text" name="s4"></td>
    </tr>

    <tr>
        <td class="label">Sale Square Footage</td>
        <td class="input"> <input type="text" name="s2"></td>
    </tr>

    <tr>
        <td class="label">Expected Sale Price:</td>
        <td class="input"> <input type="text" name="s5"></td>
    </tr>

    <tr>
        <td class="label">Actual Sale PRice:</td>
        <td class="input"> <input type="text" name="s6"></td>
    </tr>

    <tr>
        <td class="label">Notes: </td>
        <td class="input"><textarea cols="30" rows="8" name="s9"></textarea></td>
    </tr>
    
    </table>


