<table class="form">
    <tr>
        <td class="label">Sublease Execution Date:</td>
        <td class="input"> <input type="text" name="cda"></td>
    </tr>
    
    <tr>
        <td class="label">BOV Date: </td>
        <td class="input"><input type="text" name="sl8"></td>
    </tr>

    <tr>
        <td class="label">BOV On Time: </td>
        <td class="input">
            <input type="radio" name="sl10" value="True">Yes <br /><br />
            <input type="radio" name="sl10" value="False">No <br /><br />
        </td>
    </tr>

    <tr>
        <td class="label">BOV Expected Timing:</td>
        <td class="input"> <input type="text" name="sl3"></td>
    </tr>

    <tr>
        <td class="label">BOV Actual Timing:</td>
        <td class="input"> <input type="text" name="sl4"></td>
    </tr>

    <tr>
        <td class="label">Sublease Square Footage</td>
        <td class="input"> <input type="text" name="sl2"></td>
    </tr>

    <tr>
        <td class="label">Expected Recovery:</td>
        <td class="input"> <input type="text" name="sl5"></td>
    </tr>

    <tr>
        <td class="label">Actual Recovery:</td>
        <td class="input"> <input type="text" name="sl6"></td>
    </tr>

    <tr>
        <td class="label">Notes: </td>
        <td class="input"><textarea cols="30" rows="8" name="sl9"></textarea></td>
    </tr>
    
    </table>


