<table class="report_table">
    <tr>
        <td class="left">Average Survey Score</td>
        <td class="right">[- report.avg_survey_score -]</td>
    </tr>
    <tr class="grey">
        <td class="left">Average Value Add %</td>
        <td class="right">[- report.avg_value_add -]%</td>
    </tr>
    <tr>
        <td class="left">Square Footage Reduction</td>
        <td class="right">1000</td>
    </tr>
    <tr class="grey">
        <td class="left">Average Days to Business Terms</td>
        <td class="right">45</td>
    </tr>
    <tr>
        <td class="left">Avearge Days between Business Terms & Closing</td>
        <td class="right">120</td>
    </tr>
    <tr class="grey">
        <td class="left">Markey Survey On Time %</td>
        <td class="right">80%</td>
    </tr>
</table>

