<div class="half_tab_padding">
    Clients:<br />
    <select id="active_client_id" name="client_id">
    [[ for client in clients ]]
        <option value="[- client.id -]" [- 'SELECTED="SELECTED"' if selected_client.id == client.id -] >[- client.email -]</option> 
    [[ endfor ]]
    </select>
</div>

<div id="company_selection">
    [[ for company in selected_client.companies ]]
        <div class="coll_title [- loop.cycle("grey", "") -]">
            [[ if company.divisions.count() > 0 ]]
                <span class="coll_arrows closed">&nbsp;</span>
            [[ else ]]
                <span class="arrow_spacer"></span>
            [[ endif ]]
            <span class="green_bold company_title">[- company.title|e -]</span>
            <span class="float_checkbox"><input class="cbox" name="comp_cbox" type="checkbox" value="[- company.id -]"></span>
        </div>
        <div class="collapsable">
        
        [[ for division in company.divisions ]]
            <div class="coll_title light_grey">
                [[ if division.regions.count() > 0 ]]
                    <span class="coll_arrows closed">&nbsp;</span>
                [[ else ]]
                    <span class="arrow_spacer"></span>
                [[ endif ]]
                <span class="division_title">[- division.title|e -]</span>
                <span class="float_checkbox"><input class="cbox" name="div_cbox" type="checkbox" value="[- division.id -]"></span>
            </div>
            <div class="collapsable">
                
            [[ for region in division.regions ]]
                <div class="coll_title">
                    [[ if region.areas.count() > 0 ]]
                        <span class="coll_arrows closed">&nsp;</span>
                    [[ else ]]
                        <span class="arrow_spacer"></span>
                    [[ endif ]]
                    <span class="region_title">[- region.title|e -]</span>
                    <span class="float_checkbox"><input class="cbox" type="checkbox" name="reg_cbox" value="[- region.id -]"></span>
                </div>
                <div class="collapsable">
                    
                [[ for area in region.areas ]]
                    <div class="coll_title">
                        <span class="area_title">[- area.title|e -]</span>
                        <span class="float_checkbox"><input class="cbox" type="checkbox" name="area_cbox" value="[- area.id -]"></span>
                    </div>
                [[ endfor ]]
                </div>
            [[ endfor ]]
            </div> 
        [[ endfor ]]
        </div>
    [[ endfor ]]
</div>
<br />
<br />
<div class="half_tab_padding">
    OPTIONS
    <hr></hr>
</div>
<table class="report_table">
    <tr class="grey">
        <td class="left">Fiscal Comparison:</td>
        <td class="right">
            <select name="fiscal">
                <option>None</option>
                <option value="1">1 Year</option>
                <option value="2">2 Years</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="left">Display Results:</td>
        <td class="right">
            <select name="display">
                <option>Combined</option>
                <option>Separate</option>
            </select>
        </td>
    </tr>
    <tr class="grey">
        <td class="left">Export</td>
        <td class="right">
            <select id="export" name="export">
                <option>HTML</option>
                <option>PDF</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="left"><input type="hidden" name="trans_obj" id="trans_obj"></td>
        <td class="right"><input id="run_report" type="submit" value="Run Report"></td>
    </tr>
</table>

