[[ set jsfiles = ['/static/js/dashboard.js', '/static/js/tabs.js', '/static/js/filters.js'] + jsfiles|d([]) ]]
[[ set cssfiles = ['/static/css/dashboard.css'] + cssfiles|d([]) ]]
[[ set prototype = True ]]
[[ extends 'base.html' ]]
[[ block title]] Dashboard [[ endblock ]]
[[ block content ]]
    <div id="content_container">
        <h4>Performance Metrics</h4>
        <table width="100%">
            <tr>
                <td width="49%" align="center" valign="top">
                    <div class="base_tabs half_tabs">
                        <div id="left_tabs" class="tab_container">
                        </div>
                        <div id="lloading" class="tab_content">
                            Loading...
                        </div>
                        <div id="acq" class="tab_content">
                        </div>
                        <div id="disp" class="tab_content">
                        </div>
                        <div id="graphs" class="tab_content">
                        </div>
                    </div>
                </td>
                <td width="10"> &nbsp; </td>
                <td width="49%" align="center" valign="top">
                    <div class="base_tabs half_tabs">
                        <div id="right_tabs" class="tab_container">
                        </div>
                        <form id="dashboard_form" action="report" method="post">
                            <div id="rloading" class="tab_content">
                                Loading...
                            </div>
                            <div id="companies" class="tab_content">
                            </div>
                            <div id="filters_container" class="tab_content">
                                <div id="acq_filters">
                                    <div class="half_tab_padding">
                                        Acquisition Filters
                                    </div>
                                    <table id="acq_filter_table" style="width:100%;">
                                    </table>
                                </div>
                                <div id="disp_filters">
                                    <div class="half_tab_padding">
                                        Disposition Filters
                                    </div>
                                    <table id="disp_filter_table" style="width:100%;">
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
        <div class="clearer"></div>
    </div>
[[ endblock ]]
